<section class="mainBlock">
	<div class="container">
		<h1 class="category-block">
				<i class="fas fa-at"></i>
				專案類別</h1>
			<div class="category-list">
				<owl-carousel-o [options]="customOptions">
					<ng-template carouselSlide>
						<div class="catagory-item">
							<div class="fa fa-lock fa-3x circle-icon"></div>
						</div>
							<div class="catagory-title">XXX</div>
					</ng-template>  
					<ng-template carouselSlide>
						<div class="catagory-item">
						<div class="fa fa-bicycle fa-3x circle-icon"></div>
					</div>
						<div class="catagory-title">XXX</div>
					</ng-template>  
					<ng-template carouselSlide>
						<div class="catagory-item">
						<div class="fa fa-lock fa-3x circle-icon"></div>
					</div>
						<div class="catagory-title">XXX</div>
					</ng-template> 
					<ng-template carouselSlide>
						<div class="catagory-item">
						<div class="fa fa-bicycle fa-3x circle-icon"></div>
					</div>
						<div class="catagory-title">XXX</div>
					</ng-template> 
					<ng-template carouselSlide>
						<div class="catagory-item">
						<div class="fa fa-bicycle fa-3x circle-icon"></div>
					</div>
						<div class="catagory-title">XXX</div>
					</ng-template> 
					<ng-template carouselSlide>
						<div class="catagory-item">
						<div class="fa fa-bicycle fa-3x circle-icon"></div>
					</div>
						<div class="catagory-title">XXX</div>
					</ng-template> 
				</owl-carousel-o>
			</div>
	</div>
</section>



