.blockHead {
	justify-content: space-between;
	display: flex;
	margin-bottom: 5px;
	padding-left: 14px;
	padding-right: 14px;
}

.hot-project-text {
	color:darkorange;
	font-style:oblique;
	font-weight:700;
	font-size: 24px;
	letter-spacing: 3px;
}

.more{
	color:darkturquoise;
	font-weight:700;
	letter-spacing: 3px;
}

.container{
	margin-top: 60px;
	padding:5px;
	position: relative;
	border-style:solid;
	border-color: gray;
}

.projectCards{
	margin: 0;
}