<footer class="page-footer font-small blue pt-4">

	<div class="container-fluid text-center text-md-left">
		<div class="row">
			<div class="col-md-6 mt-md-0 mt-3">

				<h5 class="text-uppercase">Kinma Footer</h5>
				<p>Kinma 出品，必是精品</p>

			</div>

			<hr class="clearfix w-100 d-md-none pb-3">

			<div class="col-md-3 mb-md-0 mb-3">

					<h5 class="text-uppercase">關於</h5>

					<ul class="list-unstyled">
						<li>
							<a href="#!">關於我們</a>
						</li>
						<li>
							<a href="#!">內容1</a>
						</li>
						<li>
							<a href="#!">內容2</a>
						</li>
						<li>
							<a href="#!">內容3</a>
						</li>
					</ul>

				</div>
				<div class="col-md-3 mb-md-0 mb-3">

					<h5 class="text-uppercase">標題二</h5>

					<ul class="list-unstyled">
						<li>
							<a href="#!">內容1</a>
						</li>
						<li>
							<a href="#!">內容2</a>
						</li>
						<li>
							<a href="#!">內容3</a>
						</li>
						<li>
							<a href="#!">內容4</a>
						</li>
					</ul>

				</div>
		</div>
	</div>

	<div class="footer-copyright text-center py-3">© 2021 Copyright:
		<a href="https://mdbootstrap.com/"> Kinma.com</a>
	</div>

</footer>