<div class="prjectCard">

	<a href="#" data-id="1" data-title="title-A" data-category="1"></a>
	<div class="thumbnail">
		<img class="fill" src= {{img}}>
	</div>
	<div class="content">
		<div class="tag">
			<button mdbBtn type="button" gradient="peach" size="sm" mdbWavesEffect>智能居家</button>
			<button mdbBtn type="button" color="success" size="sm" style="border-radius: 10px; outline: true;" mdbWavesEffect>Success</button>
			<mdb-badge  *ngFor="let label of labels;" [pill]="true" color="cyan">{{ label }}</mdb-badge>
		</div>
		<div class="title">{{ title }}</div>
		<div class="owner">{{ owner }}</div>
	</div>

	<div class="schedule">
			<div class="progress">
				<div
					class="progress-bar bg-warning"
					role="progressbar"
					style="width: 35%"
					aria-valuenow="25"
					aria-valuemin="0"
					aria-valuemax="100"
				>
				35%
				</div>
			</div>

		<span class="target">
			<i class="fas fa-dollar-sign"></i>{{ price }}</span>
		<span class="date pull-right">剩餘{{ date }}天</span>
	</div>
	
</div>